body {
	background-color: color: rgb(230, 230, 230); 
	color: #071A79;
	font-family: 'Manrope', serif;
	font-size: 17px;
	font-weight: 550;
	line-height: 1.5;
}
h1, h2, h3 {
	font-family: 'Poppins', serif;
}
h1 {
	color: #0C2C95;
  font-size: 35px;
  font-weight: 800;
}
h2 {
  color: #EBA61B;
  font-size: 23px;
  font-weight: normal;
  font-weight: 500;
  background-position: center;
}
a {
	font-family: 'Poppins', sans-serif;
 	color: #0C2C95;
 	text-decoration: none;
 	transition : color 0.2s ease;
 	font-weight: 600;
 	font-size: 18px;
}
 a:hover {
 	color: #FFA200;
 }


.container {
	width: 750px;
	margin: 40px auto;
}
.card-yellow {
	background-color: #FFECC3;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 8px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 80%;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.5)
}
.img-bordered {
  border: 7px orange;
}
.btn-blue {
	background-color: #0C2C95;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}
.btn-blue:hover {
	background-color: orange;
	color: white;
}
.list-inline {
	list-style: none;
	paddding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: #0C2C95;
}
.list-inline i:hover {
	color: orange;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}
@media (max-width: 500px) {
	.container {
		width: 400px;
    }
}

#presentation p {
	margin-bottom: 40px;
}
